
.sectionStyle() {
  border: 1px solid @lightGrey;
  margin-top: 12px;
  padding: 40px;
}

// Workaround for a CSS module issue: https://github.com/css-modules/css-modules/issues/141#issuecomment-293092109
.animation(@name, @duration, @ease: ease-out) {
  animation-name: @name;
  animation-duration: @duration;
  animation-timing-function: @ease;
  animation-fill-mode: both;
}

.label() {
  color: @textColor;
  margin-bottom: 15px;
  line-height: 1.4;
  display: inline-block;
  cursor: pointer;
  letter-spacing: 0.7px;
}

.inputGroup() {
  background-color: @white;
  border: 1px solid @lightPurple;
  height: @inputHeight;
  color: @mainBlue;
}

.inputGroup-input() {
  border: 0;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: @fontSize;
  color: @mainBlue;

  &:active, &:focus {
    outline: none;
  }
}

.inputButton() {
  border: 1px solid @lightPurple;
  font-size: inherit;
  font-family: inherit;
  color: @mainBlue;
  text-align: center;
  user-select: none;
}

.inputError(@errCol) {
  color: @errCol;
  font-size: @fontSizeError;
  margin-top: 3px;
}

.truncate() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flexVerticalAlign() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.multiline(@itemNumber, @gutter: 20px) {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  > * {
    @flex: ((100/@itemNumber) (@gutter/@itemNumber));
    display: inline-flex;
    flex-basis: ~"calc(@flex% - @flex)";
  }
}

.button(@color: @white, @bg: @egyptianBlue, @fontSize: inherit, @padding: 14px 28px) {
  background-color: @bg;
  font-size: @fontSize;
  color: @color;
  padding: @padding;
  transition: background-color 240ms ease-in-out, color 240ms ease-in-out;
  height: 60px;
  width: 100%;

  &:hover {
    background-color: lighten(@bg, 10%);
  }
}

.editableHeading() {
  display: flex;
  justify-content: space-between;
  align-content: center;
  min-height: 58px;

  cursor: pointer;
  background-color: @athensGray;
  padding: 0 20px;
  color: @mainBlue;
  font-size: 1.6rem;
  margin-top: 20px;

  .label {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 20px;
    > label { margin: 0 }
  }

  .close {
    display: flex;
    align-items: center;
  }
}