// --- General

@fontSize  : 1.6rem;
@fontSizeError: 1.3rem;
@font      : "San Francisco", "Arial", "sans-serif";
@titleFont : "San Francisco", "Arial", "sans-serif";
@light     : 100;
@regular   : 300;
@medium    : 500;
@bold      : 800;


// --- Colors
// When you're not so inspired about color naming = http://www.color-blindness.com/color-name-hue/

@white       : #FFF;
@mainBlue    : #30497B;
@greyBlue    : #5D75A5;
@turquoise   : #45CBD8;
@lavenderBlue : #D1D2FF;
@lavender     : #E4E5F8;
@lightPurple : #D0D2FF;

@textColor   : #404279;
@lightGrey   : #F5F5FF;

@red         : #F55078;
@lightRed    : #F6688A;
@errorColor  : @red;

@borderColor : #CDD5E5;
@mainBg      : #F7F7FF;

// --- Previous color that may be used
@egyptianBlue: #2338A0;
@iris        : #4951D8;
@fadedBlue   : #6A82FC;
@facebook    : #3E42D7;
@whatsapp    : #64E495;
@roti        : #C1AE41;
@whiteLilac  : #F9F9FD;
@periwinkle  : #CCCFED;
@athensGray  : #ECEDF8;

// --- Size

@mainMaxWidth  : 800px;
@headerHeight  : 270px;
@headingHeight : 80px;

@headerHeight : 55px;
@footerHeight : 60px;

@inputHeight   : 60px;


// --- Breakpoints

@mobile: ~"only screen and (max-width: 480px)";
@tablet: ~"only screen and (min-width: 480px) and (max-width: 800px)";
@desktop: ~"only screen and (min-width: 800px)";