/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
  color: inherit;
}
component {
  display: block;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Light.woff') format('woff'), url('/assets/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Thin.woff') format('woff'), url('/assets/fonts/OpenSans-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Regular.woff') format('woff'), url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Medium.woff') format('woff'), url('/assets/fonts/OpenSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Semibold.woff') format('woff'), url('/assets/fonts/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Bold.woff') format('woff'), url('/assets/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Extrabold.woff') format('woff'), url('/assets/fonts/OpenSans-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  overflow: hidden;
}
body {
  background-color: #FAFAFA;
  color: #505050;
  font-family: "OpenSans", "Arial", "sans-serif";
  font-size: 1.2rem;
}
#screenLayer {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  position: absolute;
  -webkit-overflow-scrolling: touch;
  transform: translate3d(0, 0, 0);
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Light.woff') format('woff'), url('/assets/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Thin.woff') format('woff'), url('/assets/fonts/OpenSans-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Regular.woff') format('woff'), url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Medium.woff') format('woff'), url('/assets/fonts/OpenSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Semibold.woff') format('woff'), url('/assets/fonts/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Bold.woff') format('woff'), url('/assets/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Extrabold.woff') format('woff'), url('/assets/fonts/OpenSans-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
.contentSearch-Z9VMz {
  display: flex;
}
.search-2uvUu {
  background-color: white;
  height: 100px;
  width: 85%;
  position: relative;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 1px 4px 0 #888888;
}
.searchOption-3hEbd {
  font-size: 1.2rem;
  color: #505050;
  width: 95%;
  display: flex;
  flex: wrap;
  align-items: center;
}
.searchOption-3hEbd .criteria-3whUf {
  margin-right: 10px;
}
.searchOption-3hEbd .criteria-3whUf.selected-3y4F9 {
  color: #FF886B;
}
.searchOption-3hEbd .criteria-3whUf:hover {
  text-decoration: underline;
  cursor: pointer;
}
.customInput-23gmZ {
  width: 100%;
  height: 80%;
  border: none;
  font-size: 4.5rem;
  font-weight: 800;
  font-family: "OpenSans", "Arial", "sans-serif";
  color: #505050;
}
.customInput-23gmZ:focus {
  outline: none;
}
.validate-VjDBq {
  position: absolute;
  background-color: #FF886B;
  color: white;
  right: -20px;
  border-radius: 2px;
  width: 50px;
  height: 50px;
  top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result-t-0q2 {
  width: 15%;
  padding: 10px 30px;
}
.result-t-0q2 p:first-child {
  font-size: 4.5rem;
}
.cards-1Qa7P {
  width: 1100px;
  margin: 20px auto;
}
.button-16Blf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  color: #AFB4B8;
  border: solid 1px #AFB4B8;
  border-radius: 2px;
  color: #FF886B;
  margin: 20px 0;
  width: 190px;
}
.button-16Blf span {
  margin-left: 10px;
  font-family: "OpenSans", "Arial", "sans-serif";
}
.button-16Blf:hover {
  background-color: #FF886B;
  border: solid 1px #FF886B;
  color: white;
  cursor: pointer;
}
.button-16Blf span {
  color: #AFB4B8;
}
.button-16Blf:hover span {
  color: white;
}
.content-2fLw3 {
  width: 1100px;
  margin: 0 auto;
  margin-top: 40px;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Light.woff') format('woff'), url('/assets/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Thin.woff') format('woff'), url('/assets/fonts/OpenSans-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Regular.woff') format('woff'), url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Medium.woff') format('woff'), url('/assets/fonts/OpenSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Semibold.woff') format('woff'), url('/assets/fonts/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Bold.woff') format('woff'), url('/assets/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Extrabold.woff') format('woff'), url('/assets/fonts/OpenSans-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Light.woff') format('woff'), url('/assets/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Thin.woff') format('woff'), url('/assets/fonts/OpenSans-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Regular.woff') format('woff'), url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Medium.woff') format('woff'), url('/assets/fonts/OpenSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Semibold.woff') format('woff'), url('/assets/fonts/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Bold.woff') format('woff'), url('/assets/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Extrabold.woff') format('woff'), url('/assets/fonts/OpenSans-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
.header-29EXr {
  display: flex;
  height: 50px;
  background-color: white;
  box-shadow: 0px 2px 4px 0 #888888;
  color: #AFB4B8;
  font-size: 1.2rem;
}
.header-29EXr .nav-Ajx9_ {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-29EXr .nav-Ajx9_ > .mainNav-3KI4m a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #AFB4B8;
  height: 100%;
  border-bottom: solid 2px transparent;
}
.header-29EXr .nav-Ajx9_ > .mainNav-3KI4m a.active-1md5Z,
.header-29EXr .nav-Ajx9_ > .mainNav-3KI4m a:hover {
  cursor: pointer;
  color: #505050;
  border-bottom: solid 2px #FF886B;
}
.header-29EXr .nav-Ajx9_ .mainNav-3KI4m,
.header-29EXr .nav-Ajx9_ .buttons-231y1,
.header-29EXr .nav-Ajx9_ .search-2slN1,
.header-29EXr .nav-Ajx9_ .selection-24HAN {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-29EXr .nav-Ajx9_ .mainNav-3KI4m {
  height: 100%;
  width: 40%;
}
.header-29EXr .nav-Ajx9_ .buttons-231y1 {
  width: 30%;
}
.header-29EXr .nav-Ajx9_ .selection-24HAN,
.header-29EXr .nav-Ajx9_ .search-2slN1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  color: #AFB4B8;
  border: solid 1px #AFB4B8;
  border-radius: 2px;
}
.header-29EXr .nav-Ajx9_ .selection-24HAN span,
.header-29EXr .nav-Ajx9_ .search-2slN1 span {
  margin-left: 10px;
  font-family: "OpenSans", "Arial", "sans-serif";
}
.header-29EXr .nav-Ajx9_ .selection-24HAN:hover,
.header-29EXr .nav-Ajx9_ .search-2slN1:hover {
  background-color: #FF886B;
  border: solid 1px #FF886B;
  color: white;
  cursor: pointer;
}
.header-29EXr .nav-Ajx9_ .avatar-27YcH {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-image: url('/public/img/avatar.png');
}

/*# sourceMappingURL=app.css.map*/